<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <!-- Application initialization values -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <connectionStrings>
    <!-- Database connection string values -->
    <add name="DBConnection" connectionString="Server=XXXXX; Persist Security Info=True; UID=XXXXX; PWD=XXXXX; Database=XXXXX; Connection Timeout=180; App=XXXXX" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!-- Application can be run in Live or Test mode -->
    <add key="RunInTestMode" value="False"/>
    <add key="EmailToTestMode" value="XXXXX"/>
    <add key="EmailCCTestMode" value="XXXXX"/>
    <add key="TestJobNumber" value="XXXXX"/>
    <add key="TestClientCode" value="XXXXX"/>
    <add key="PDFProofRepository" value="XXXXX"/>  <!-- All non-email PDFs will be copied here during testing -->
    
    <!-- Directory values -->
    <add key="DataJobsFolder" value="XXXXX"/>
    <add key="GeneralJobsFolder" value="XXXXX"/>
    <add key="StoreFrontFolder" value="XXXXX"/>
    <add key="DecompressedZipFolder" value="XXXXX"/>
    <add key="TaskmasterJobsFolder" value="XXXXX"/>
    <add key="MailDatSettingsFolder" value="XXXXX"/>
    <add key="ProjectConfigFolder" value="XXXXX"/>
    <add key="MailDatRepository" value="XXXXX"/>
    
    <!-- Multitrac values -->
    <add key="MultitracTestClientID" value="XXXXX"/>
    <add key="MultitracUserName" value="XXXXX"/>
    <add key="MultitracPassword" value="XXXXX"/>
    <add key="MultitracEXE" value="XXXXX"/>
    <add key="DaysToAddForInHome" value="10"/>

    <!-- Mail.dat file values -->
    <add key="MailDatVersion" value="13-1"/>
    <add key="MailDatContactName" value="XXXXX"/>
    <add key="MailDatContactPhone" value="XXXXX"/>
    <add key="MailDatContactEmail" value="XXXXX"/>
    <add key="HeeterMailerID" value="XXXXX"/>
    
    <!-- GMC values -->
    <add key="DataInputModule" value="PresortedData"/>
    <add key="ParamInputModule" value="ParamInput1"/>
    <add key="DataGeneratorModule" value="DataGenerator"/>
    <add key="DigitalOutputModule" value="DIGITAL"/>
    <add key="OffsetOutputModule" value="OFFSET"/>
    <add key="WatermarkOutputModule" value="WATERMARK"/>
    <add key="ImageParamInputModule" value="ImageParam"/>
    <add key="DefaultOutputModule" value="Output"/>
    <add key="XMLInputModule" value="InspireStorefrontDataInput"/>
    <add key="ProductionParameterName" value="production"/>
    <add key="StorefrontIDParameterName" value="storefrontid"/>
    <add key="ImageParameterRootName" value="image"/>
    <add key="LowResConfigFile" value="XXXXX"/>
    <add key="HighResConfigFile" value="XXXXX"/>
    <add key="GMCServerIPAddress" value="XXXXX"/>
    <add key="GMCServerPort" value="XXXXX"/>
    
    <!-- Misc. values -->
    <add key="PDFPrinter" value="Bullzip PDF Printer"/>
    <add key="TextPrinter" value="TEXT PRINTER"/>
    <add key="EnvironmentVariable" value="BULLZIP_FILENAME"/>
    
    <!-- Storefront table values -->
    <add key="UserInfoTable" value="XXXXX"/>
    
    <!-- Direct Response values -->
    <add key="DirectResponseFTP" value="XXXXX"/>
    <add key="DirectResponseUserName" value="XXXXX"/>
    <add key="DirectResponsePassword" value="XXXXX"/>
    <add key="DaysToAddForShipping" value="4"/>

    <!-- Email values -->
    <add key="EmailSMTPHost" value="XXXXX"/>
    <add key="EmailFrom" value="XXXXX"/>
    <add key="EmailCC" value="XXXXX"/>              <!-- if RunInTestMode = True, EmailCCTestMode will take precedence over this value -->
    <add key="ErrorLogEmailTo" value="XXXXX"/>      <!-- if RunInTestMode = True, EmailToTestMode will take precedence over this value -->
    <add key="InternalEmailTo" value="XXXXX"/>      <!-- if RunInTestMode = True, EmailToTestMode will take precedence over this value -->
    
    <!-- Executables values -->
    <add key="GMCConsoleExe" value="XXXXX"/>
    <add key="BCCMailManEXE" value="XXXXX"/>
    
    <!-- Server access settings -->
    <add key="ServerUserName" value="XXXXX"/>
    <add key="ServerPassword" value="XXXXX"/>

    <!-- Log file value -->
    <add key="LogFile" value="XXXXX"/>
    
    <!-- SQL table values -->
    <add key="SQLLogTable" value="XXXXX"/>
    <add key="SQLProjectConfigTable" value="XXXXX"/>
    <add key="SQLPostProcessTable" value="XXXXX"/>
    
    <!-- Highmark Zip-Region match values -->
    <add key="ZipToRegionTable" value="XXXXX"/>
    <add key="ZipToRegionMismatchThreshold" value="80"/>        <!-- Percentage of records that have to match for processing to continue -->
    <add key="HighmarkEmailTo" value="XXXXX"/>             		<!-- if RunInTestMode = True, EmailToTestMode will take precedence over this value -->
  </appSettings>
</configuration>