<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <!-- Database connection string values -->
    <add name="DBConnection" connectionString="Server=XXXXX; Persist Security Info=True; UID=XXXXX; PWD=XXXXX; Database=XXXXX; Connection Timeout=180; App=XXXXX" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!-- Application can be run in Live or Test mode -->
    <add key="RunInTestMode" value="False"/>
    <add key="EmailToTestMode" value="XXXXX"/>
    <add key="EmailCCTestMode" value="XXXXX"/>

    <!-- Email values -->
    <add key="EmailSMTPHost" value="XXXXX"/>
    <add key="EmailFrom" value="XXXXX"/>
    <add key="EmailCC" value="XXXXX"/>                  <!-- if RunInTestMode = True, EmailCCTestMode will take precedence over this value -->
    <add key="ErrorLogEmailTo" value="XXXXX"/>          <!-- if RunInTestMode = True, EmailToTestMode will take precedence over this value -->
    <add key="InternalEmailTo" value="XXXXX"/>  		<!-- if RunInTestMode = True, EmailToTestMode will take precedence over this value -->

    <!-- Server access settings -->
    <add key="ServerUserName" value="XXXXX"/>
    <add key="ServerPassword" value="XXXXX"/>

    <!-- Log file value -->
    <add key="LogFile" value="XXXXX"/>

    <!-- SQL table values -->
    <add key="SQLPostProcessTable" value="XXXXX"/>
    <add key="SQLLogTable" value="XXXXX"/>
  
    <!-- Direct Response values -->
    <add key="DirectResponseShipmentURL" value="XXXXX"/>
    <add key="CreditCardPaymentURL" value="XXXXX"/>
  </appSettings>
</configuration>